svg {
  .black-piece & {
    .fast-tick .capture &, 
    .slow-tick .in-check.in-check-king &,
    .no-slow-tick .in-check.in-check-from & {
      filter: drop-shadow(2px 4px 8px rgb(145, 23, 2));
      transform: scale(1.1);
    } 
    .no-fast-tick .capture &, 
    .no-slow-tick .in-check.in-check-king &,
    .slow-tick .in-check.in-check-from & {
      filter: drop-shadow(1px 4px 2px rgb(0 0 0 / 0.2));
    } 
  }
  .white-piece & {
    .fast-tick .capture &, 
    .slow-tick .in-check.in-check-king &,
    .no-slow-tick .in-check.in-check-from & {
      filter: drop-shadow(2px 4px 8px rgb(145, 2, 2));
      transform: scale(1.1);
    } 
    .no-fast-tick .capture &, 
    .no-slow-tick .in-check.in-check-king &,
    .slow-tick .in-check.in-check-from & {
      filter: drop-shadow(1px 4px 2px rgb(0 0 0 / 0.35));
    } 
  }
}

.effects {
  //border: 1px orange solid;

  &.move-or-castle {
    border-radius: 50%;
    border: 2px green solid;
  }
  
  &.castling-rook {
    border: 1px darkgreen solid; 
    .fast-tick &.from {
      border-width: 3px; 
    }
    .no-fast-tick &.to {
      border-width: 3px; 
    }
  }

  &.promote {
    border: 1px yellow solid;
    .fast-tick & {
      border-width: 3px;
    }
  }
}

.message-outer {

  &.message-type-check {
    color: rgb(255, 136, 0);
  }
  &.message-type-warning,
  &.message-type-capture,
  &.message-type-capture-promote {
    color: rgb(255, 136, 0); //rgb(241, 219, 156);
  }
  &.message-type-undo,
  &.message-type-redo {
    color: #ccc;
  }

  .postfix .unicode-chess-piece {
    display: inline-block;
    border-radius: 4px;
    font-size: 18px;
    line-height: 20px;
    &.w {
      color: #f7f0be;
    }
    &.b {
      background-color: rgba(200, 200, 200, 0.4);
      color: #573131;
    }
  } 
}