$color--board-brown: rgba(105, 49, 49, 0.75);
$color--black-piece: #573131;
$color--white-piece: #f7f0be;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../../../../assets/chess-bg-1920.jpg);
}

.app-header {
  background-color: #274070;
  /* min-height: 100vh; */
  display: flex;
  padding:  0.5rem 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-header-text {
  display: block;
  margin: 0;
  padding: 0;
}


.board {
  background-image: url(../../../../assets/American-Hard-Maple.jpg); /*  chess-bg-1920.jpg); */

  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  grid-template-rows:  repeat(8, 1fr); 
  height: 94%; 
  border: 2px $color--board-brown solid; 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.square {

  &.file-odd.rank-odd {
    background-color: $color--board-brown;
  }
  &.file-even.rank-even {
    background-color: $color--board-brown;
  }
  //border: 0.5px blue solid;

  display: flex;
  justify-content: center;
  align-items: stretch;

}

svg {
  .black-piece & {
    fill: $color--black-piece;
    filter: drop-shadow(2px 4px 2px rgb(0 0 0 / 0.3));
  }
  .white-piece & {
    fill: $color--white-piece;
    filter: drop-shadow(1px 4px 3px rgb(0 0 0 / 0.45));
  }
  display: block;
  //border: 0.5px darkgreen solid;
}
