@use 'colors.module' as c;

.game-status-indicator {

  display: 'flex';
  flex-direction: column;
  justify-content: 'flex-start';
  
  margin-bottom: 8px;

  .status, .victor {
    display: block;
    margin-bottom: 0.25rem;

    .substatus {
      padding-left: 0.5rem;
      font-size: 80%;
    }
  }

  &.checkmate .symbols,
  &.conceded .symbols {

    margin-top: 0.25rem;
    display: block;
    font-size: 90%;
  }

  &.draw .symbols {
    
    font-family: sans;
    display: block;
    font-size: 120%;
  }

  .swatch {

    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 26px;
    margin-right: 8px;
    border-radius: 3px;
    border: 2px #777 solid;
    background-color: c.$color-piece-white;
    &.black {
      background-color: c.$color-piece-black;
    }

    &.small {
      width: 22px;
      height: 22px;
      margin-right: initial;
      border-width: 1px;
    }
  }
}

