@use 'colors.module' as c;


.message-outer {
  .prefix {
    margin-right: 8px;
  }

  &.has-postfix {
    display: flex;
    flex-direction: row;

    p.message-and-prefix {
      flex: 2 0 0;
    }
    p.message-postfix {
      flex: 1 1 0;
      text-align: right;
    }
  }
  &.check-move,
  &.check-message {
      color: c.$alert8; 
    & .strong {
      margin-right: 12px;
      color: c.$alert9; 
      
    }
  }
  &.check-message {
    padding-left: 18px;
  }
  &.transient-warning {
    color: c.$alert8;
  }
  
  &.warning,
  &.capture,
  &.capturePromote {
    color: c.$alert9; 
  }
  &.transient-info,
  &.undo,
  &.redo {
    color: #ccc;
  }

  &.not-in-check {
    .postfix {
      .emoji {
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3);
      } 
    }
  }
  .postfix {
    white-space: nowrap;
    color: c.$alert8;
  }
  .side-indicator {

    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;

    border-radius: 3px;
    border: 2px #777 solid;
    &.white {
      background-color: c.$color-piece-white;
    }
    &.black {
      background-color: c.$color-piece-black;
    }
  }

}
