
@use 'colors.module' as c;

html {
  font-size: 16px
}

body {
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  background-image: url('assets/img/chess_bg_1920_low_res.jpg');
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

hr {
  //align-self: center;
  width: 100%;
  opacity: 0.5;
}