@font-face {
  font-family: 'TWK Everett';
  src: url('assets/font/TWKEverett/TWKEverett-Medium-web.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'chalk';
  //src: url('assets/font/SqueakyChalkSound/squeakychalksound-webfont.woff2') format('woff2');
  src: url('assets/font/IDidThis.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'chalk', sans-serif;
  font-weight: 500;
}
