@use 'colors.module' as c;

.game-status-indicator {
  
  margin-bottom: 8px;

  .won {
    display: block;
  }

  .draw {
    display: block;
  }
  .status {
    font-size: 80%;
  }

  .swatch {

    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 26px;
    margin-right: 8px;
    border-radius: 3px;
    border: 2px #777 solid;
    background-color: c.$color-piece-white;
    &.black {
      background-color: c.$color-piece-black;
    }
  }
}

