@use './colors';

.game-status-indicator {
  
  margin-bottom: 8px;

  .won {
    display: block;
    //margin-left: 4px;
  }

  .draw {
    display: block;
  }
  .status {
    font-size: 80%;
  }

  .swatch {

    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 26px;
    margin-right: 8px;
    border-radius: 3px;
    border: 2px #777 solid;
    background-color: colors.$white-piece;
    &.black {
      background-color: colors.$black-piece;
    }
  }
}

