
@use 'colors';
@use 'mediaQueries' as m;

$height-header: 52px;

body {
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  background-image: url(../../../../assets/chess-bg-1920.jpg);
}

.app-header {
  background-color: #274070;
  /* min-height: 100vh; */
  display: flex;
  //padding:  0.5rem 12px;
  height: $height-header;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  color: white;
}

.app-header-text {
  margin: 0;
  padding: 0;
  line-height:  $height-header;
}


.dash {
  background-image: url(../../../../assets/slate-bg.jpg); 
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  height: 100%;
  //margin-right: 6%;
  border: 4px colors.$dash-border solid;
  border-radius: 5px;
  padding: 16px 24px;
  color: colors.$dash-text;

  display: flex;
  flex-direction: column;

  .messages-list {


    //overflow-y: scroll;
    margin-right: -15px;
    padding-right: 15px;
    margin-top: 10px;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: #444;
      border: 1px solid #777;
      border-radius: 3px;

    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #777;
      &:hover {
        background-color: #aaa;
      }
    }
  }

}

.board {

  background-image: url(../../../../assets/American-Hard-Maple.jpg); /*  chess-bg-1920.jpg); */

  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  grid-template-rows:  repeat(8, 1fr); 
  height: 100%; 
  border: 2px colors.$board-brown solid; 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.square {

  &.file-odd.rank-odd {
    background-color: colors.$board-brown;
  }
  &.file-even.rank-even {
    background-color: colors.$board-brown;
  }
  //border: 0.5px blue solid;

  display: flex;
  justify-content: center;
  align-items: stretch;

}

svg {
  .black-piece & {
    fill: colors.$black-piece;
    filter: drop-shadow(2px 4px 2px rgb(0 0 0 / 0.3));
  }
  .white-piece & {
    fill: colors.$white-piece;
    filter: drop-shadow(1px 4px 3px rgb(0 0 0 / 0.45));
  }
  display: block;
  //border: 0.5px darkgreen solid;
}

main {
  width: 100%;
  //border: 1px solid red;
  height: 92vh;
  padding: 18px;
  position: relative;

}

.board-outer {
  flex: 2 0 0;
}

.side {
  flex: 1 1 0; 
  //border: '3px solid green',
}

.burger-button {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: $height-header;
  width: $height-header;
  padding-left: 6px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .drawer-state-open & {
    background-color: rgba(100, 100, 100, 0.4);
  }

  svg {
    display: block;
    fill: white;
  }
}

.drawer {
  display: none;
}

@media (max-width: 1476px) { 

  main {
    padding: 12px;
  }
  .right .dash {
    max-width: 350px;
  }

}

@media (max-width: 1410px) { 

  .right .dash {
    max-width: 300px;
  }

}

@media (max-width: 1350px) { 

  .right .dash {
    max-width: 450px;
  }
  .board-outer {
    flex: 1.5 0 0;
  }
  
  .side.left {
    display: none;
  }

}

@media (max-width: 1210px) { 

  .right .dash {
    max-width: 400px;
  }
}

@media (max-width: 1140px) { 

  .right .dash {
    max-width: 350px;
    min-width: 280px;
  }

  .side.right {
    width: 30%;
    flex: 1 0 0; 
  }
}

@media (max-width: 1000px) {
  .side.right {
    display: none;
  }
  .burger-button {
    display: flex;
  }

  .drawer {
    display: flex;
    top: $height-header;

    .dash {
      border-right: none;
      border-top-width: 2px;
      border-bottom-width: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      //border: 4px colors.$dash-border solid;
      //border-radius: 5px;
    
      height: 100%;
    }
  }

}

.in-check-indicator {
  color: colors.$strong-orange;
}