$color--board-brown: rgba(105, 49, 49, 0.75);
$color--black-piece: #573131;
$color--white-piece: #f7f0be;

body {
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  background-image: url(../../../../assets/chess-bg-1920.jpg);
}

.app-header {
  background-color: #274070;
  /* min-height: 100vh; */
  display: flex;
  padding:  0.5rem 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-header-text {
  display: block;
  margin: 0;
  padding: 0;
}



.dash {
  background-image: url(../../../../assets/slate-bg.jpg); 
  background-size: cover;
  width: 80%;
  height: 94%;
  margin-right: 6%;
  border: 4px rgba(167, 107, 55, 0.76) solid;
  border-radius: 5px;
  padding: 24px;
  color: #eee;

  display: flex;
  flex-direction: column;



  .turn-widget {
    margin-bottom: 8px;
  }

  .turn-indicator {
    display: inline-block;
   // padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    border: 2px #777 solid;
    background-color: $color--white-piece;
    &.black {
      background-color: $color--black-piece;
    }
  }

  .messages-list {
    overflow-y: scroll;
    margin-right: -15px;
    padding-right: 15px;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: #444;
      border: 1px solid #777;
      border-radius: 3px;

    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #777;
      &:hover {
        background-color: #aaa;
      }
    }
  }

  .message-outer {
    &.has-postfix {
      display: flex;
      flex-direction: row;
  
      p.message-and-prefix {
        flex: 2 0 0
      }
      p.message-postfix {
        flex: 1 1 0
      }
    }
    &.message.check {
      color: rgba(253, 170, 75, 0.558); 
      & .loud {
        color: rgb(255, 136, 0); //rgb(241, 219, 156);  
      }
    }
    &.message.transient-warning {
      color: rgba(253, 170, 75, 0.558);
    }
    
    &.message.warning,
    &.message.capture,
    &.message.capture-promote {
      color: rgb(255, 136, 0); //rgb(241, 219, 156);
    }
    &.message.transient-info,
    &.message.undo,
    &.message.redo {
      color: #ccc;
    }
    &.message.not-in-check {
      .postfix {
        color: rgb(255, 136, 0);
        .emoji {
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.3);
        } 
      }
    }
    .postfix {
      white-space: nowrap;
    }
    .side-indicator {
      display: inline-block;
      //width: 10px;
      padding-left: 3px;
      padding-right: 3px;
      line-height: 12px;
  
      border-radius: 3px;
      border: 2px #777 solid;
      &.white {
        background-color: $color--white-piece;
      }
      &.black {
        background-color: $color--black-piece;
      }
    }

  }
}

.board {
  background-image: url(../../../../assets/American-Hard-Maple.jpg); /*  chess-bg-1920.jpg); */

  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  grid-template-rows:  repeat(8, 1fr); 
  height: 94%; 
  border: 2px $color--board-brown solid; 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.square {

  &.file-odd.rank-odd {
    background-color: $color--board-brown;
  }
  &.file-even.rank-even {
    background-color: $color--board-brown;
  }
  //border: 0.5px blue solid;

  display: flex;
  justify-content: center;
  align-items: stretch;

}

svg {
  .black-piece & {
    fill: $color--black-piece;
    filter: drop-shadow(2px 4px 2px rgb(0 0 0 / 0.3));
  }
  .white-piece & {
    fill: $color--white-piece;
    filter: drop-shadow(1px 4px 3px rgb(0 0 0 / 0.45));
  }
  display: block;
  //border: 0.5px darkgreen solid;
}
