@use 'colors.module' as c;

.turn-indicator {
  margin-bottom: 8px;

  .swatch {

    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 22px;
    margin-right: 2px;
    border-radius: 3px;
    border: 2px #777 solid;
    background-color: c.$color-piece-white;
    &.black {
      background-color: c.$color-piece-black;
    }
  }
}

